/*==============
LYST OF CONTENT
================

    1. Global styles

    2. Utility Classes

    3. Header
        3.1 Nav
        3.2 Section
        3.3 .grey-bar

    4. Main
        4.1 Top Row
        4.2 Bottom Row
    */

/* ================
 1. GLOBAL STYLES
================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 5px;
}

h5 {
    color: grey;
}

a,
span {
    font-size: 0.6rem;
}

/*===================="
    2. UTILITY CLASSES
====================== */

.wrapper {
    width: 1024px;
    margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main .row.bottom:after,
footer > .col:after {
    content: "";
    display: table;
    clear: both;
}

/* =============
    3. HEADER
=============== */

header {
    background-color: rgb(12, 50, 90);
}

/* 3.1 NAV */

header nav a,
header nav span {
    color:white;
    text-decoration: none;
}

header nav > .col {
    display: inline-block;
    vertical-align: middle;
}

header nav > .col.lft {
    width: 20%;
}

header nav .col.center,
header nav .col.rght {
    width: 40%;
}

header nav .col.rght {
    text-align: right;
}

header nav .col.rght .button {
    padding: 5px 10px;
    background-color: rgb(124, 187, 2);
    border-radius: 5px;
}

header nav .col.rght .clicked{
    background-color: transparent;
    border: 1px solid white;
    color: white
}

/* 3.2 Section */

header section {
    margin-top: 30px;
    padding: 100px 0;
    background-image: url(img/background-header.png);
    background-size: contain;
    background-position-x: 270px;
    background-position-y: 10px;
    background-repeat: no-repeat;
}

header section > .col.lft {
    width: 40%;
    color: white;
}

header section h1 {
    font-size: 2rem;
    padding-bottom: 50px;
}

header section span {
    padding: 15px 15px;
    background-color: rgb(124, 187, 2);
    border-radius: 5px;
    text-transform: uppercase;
}

/* 3.3 .grey */

header .grey-bar {
    text-align: center;
    background-color: lightgray;
    padding: 30px;
}

header .grey-bar > * {
    padding-bottom: 5px;
}

/*============ 
    4. MAIN
==============*/

/* 4.1 Top Row */

main .row.top .col {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    padding: 20px 30px 25px;
}

main .row > .col > * {
    padding-bottom: 10px;
}

main .row.top img{
    height: 120px;
    width: 120px;
    object-fit: contain;
    object-position: center;
}

main .row.top > .col > span {
    margin: auto;
    display: block;
    width: 50px;
    border-top: 1px solid grey;
}

/* 4.2 Bottom Row */

main .row.bottom .col {
    width: 50%;
    float: left;
}

main .row.bottom .col.lft {
    background-image: url(img/mountain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center ;
    padding: 150px;
    margin: 30px 0;
}

main .row.bottom > .col.rght {
    padding: 20px 120px 150px 30px;
}

/* FOOTER */

footer {
    background-color: lightgray;
}

footer > .col {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

footer > .col > .wrapper > * {
    padding: 10px 0;
}

footer p {
    display: inline-block;
}
