* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 1024px;
    height: 100vh;
}

/* WRAPPER SECTION */

.wrapper {
    margin: auto;
    border: 1px solid black;
}

.wrapper.centering {
    width: 50%
}

/* CLEARFIX */

header nav::after, 
header section:after,
main .row.top:after,
main .row.bottom:after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

header {
    background-color: rgb(12, 50, 90);
}

header {
    /* color: white; */
}


header nav * {
    float: left;
}

header nav ul {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}

header nav li {
    display: inline-block;
    text-transform: uppercase;
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 10px;   
    padding: 5px;
}

header nav p {
    font-size: 10px;
    padding: 10px;
}

header nav input[type="button"] {
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: rgb(124, 187, 2);
    color: white;
    font-size: 10px;
}

header section {
    padding: 100px 0;
}

header section > .col {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    float: left;

}

header section .col *{
    color: white;
}

header section .col.lft h1 {
    font-size: 30px;
}

header section .col.lft input[type="button"] {
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: rgb(124, 187, 2);
    text-transform: uppercase;

}
/* SECTIONS */




header .grey {
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}

header .grey > * {
    padding-bottom: 5px; 
}

header  .grey > h5 {
    color: grey;
}

/* MAIN */
main {
    height: 65%;
}

main > .wrapper {
    height: 50%;
}

main .row {
    height: 100%;
}

main .row .col * {
    padding: 10px 0;
}

main .row.top .col {
    height: 100%;
    width: calc(100% / 3);
    float: left;
    border: 1px solid black;
    padding: 0 30px;
    text-align: center;
}



main .row.top > .col > .img-container{
    text-align: center;
    height: 120px;
    width: 120px;
}

main .row.top > .col.lft > .img-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}    

main .row.top > .col > hr {
    width: 40px;
    text-align: center;
}


main .row.bottom .col {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

main .row.bottom .col.lft {
    background-image: url(img/mountain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center ;
}

footer {
    background-color: lightgray;
}